apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  labels: { app: vault }
data:
  vault.hcl: |
    ui = true
    
    # Persistent storage on PVC
    storage "file" {
      path = "/vault/data"
    }
    
    # Listen inside the pod (http). The Route will give https at the edge.
    listener "tcp" {
      address = "0.0.0.0:8200"
      tls_disable = 1
    }
    
    # Seal: demo only (no auto-unseal). You'll init & unseal from UI.
    disable_mlock = true