apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  labels:
    app: vault
data:
  vault.hcl: |-
    # Vault configuration for OpenShift deployment
    disable_mlock = true
    ui = true

    # Prevent Vault from attempting to chown files from read-only ConfigMap
    disable_chown = true

    storage "file" {
      path = "/vault/data"
    }

    listener "tcp" {
      address     = "0.0.0.0:8200"
      tls_disable = "true"
    }