apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: vault
  labels:
    app: vault
spec:
  serviceName: vault
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      # Let a non-root Vault process write to mounted volumes
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
      volumes:
        - name: config
          configMap:
            name: vault-config
        - name: data
          emptyDir: {}               # dev-friendly; avoids PVC issues
      containers:
        - name: vault
          image: image-registry.openshift-image-registry.svc:5000/hammadmaqsood135-dev/vault:1.17
          imagePullPolicy: IfNotPresent
          args: ["server","-config=/vault/config/vault.hcl"]
          env:
            - name: VAULT_ADDR
              value: "http://127.0.0.1:8200"
          ports:
            - name: http
              containerPort: 8200
          securityContext:
            runAsNonRoot: true
            runAsUser: 10001
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: config
              mountPath: /vault/config
            - name: data
              mountPath: /vault/data