apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: image-registry.openshift-image-registry.svc:5000/hammadmaqsood135-dev/auth-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            # active Spring profile
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"

            # internal Config Server URL (cluster service name + port)
            - name: SPRING_CLOUD_CONFIG_URI
              value: "http://config-server:8888"

            # optional but useful: wait a bit for config-server readiness
            - name: SPRING_CLOUD_CONFIG_FAIL_FAST
              value: "true"
            - name: SPRING_CLOUD_CONFIG_RETRY_MAX_ATTEMPTS
              value: "10"
            - name: SPRING_CLOUD_CONFIG_RETRY_INITIAL_INTERVAL
              value: "2000"

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: auth-service
spec:
  to:
    kind: Service
    name: auth-service
  port:
    targetPort: http